@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-blue: var(--background);
    --color-lavender: #f3f1ff;
    --color-lavender-dark: #e5e1fa;
    --color-lavender-darkest: #7d68eb;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@layer base {
    section {
        @apply bg-pink-200/0 w-full max-w-7xl mx-auto p-6;
    }
    button {
        @apply cursor-pointer;
    }
    a {
        @apply cursor-pointer;
    }
}
